body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.music {
    /* color: white; */
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 50vh;
    height: 50vh;
}

.music .bar {
    width: 2vh;
    height: 20vh;
    border-radius: 10px;
    background-color: white;
    animation: up_down 1.5s ease-in-out infinite;
}

@keyframes up_down {

    0%,
    100% {
        height: 1vh;
    }

    50% {
        height: 20vh;
    }
}

.music .bar:nth-child(1) {
    background-color: rgb(139, 3, 3);
    animation-delay: 1s;
}

.music .bar:nth-child(2) {
    background-color: rgb(151, 2, 146);
    animation-delay: 0.8s;
}

.music .bar:nth-child(3) {
    background-color: rgb(11, 125, 201);
    animation-delay: 0.6s;
}

.music .bar:nth-child(4) {
    background-color: rgb(38, 176, 14);
    animation-delay: 0.4s;
}

.music .bar:nth-child(5) {
    background-color: rgb(213, 232, 11);
    animation-delay: 0.2s;
}

.music .bar:nth-child(6) {
    background-color: yellow;
    animation-delay: 0.2s;
}

.music .bar:nth-child(7) {
    background-color: rgb(38, 176, 14);
    animation-delay: 0.4s;
}

.music .bar:nth-child(8) {
    background-color: rgb(11, 125, 201);
    animation-delay: 0.6s;
}

.music .bar:nth-child(9) {
    background-color: rgb(151, 2, 146);
    animation-delay: 0.8s;
}

.music .bar:nth-child(10) {
    background-color: rgb(139, 3, 3);
    animation-delay: 1s;
}

ul {
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0%;
    padding: 0;
    display: flex;

}

ul li {
    list-style: none;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    animation: grow 1.6s ease-in-out infinite;
}

@keyframes grow {

    0%,
    40%,
    100% {
        transform: scale(0.2);
    }

    20% {
        transform: scale(1);
    }
}

ul li:nth-child(1) {
    animation-delay: -1.4s;
    background-color: aqua;
    box-shadow: 0 0 50px aqua;
}

ul li:nth-child(2) {
    animation-delay: -1.2s;
    background-color: blueviolet;
    box-shadow: 0 0 50px blueviolet;
}

ul li:nth-child(3) {
    animation-delay: -1s;
    background-color: antiquewhite;
    box-shadow: 0 0 50px antiquewhite;
}

ul li:nth-child(4) {
    animation-delay: -0.8s;
    background-color: darkcyan;
    box-shadow: 0 0 50px darkcyan;
}

ul li:nth-child(5) {
    animation-delay: -0.6s;
    background-color: cornflowerblue;
    box-shadow: 0 0 50px cornflowerblue;
}

ul li:nth-child(6) {
    animation-delay: -0.4s;
    background-color: darkkhaki;
    box-shadow: 0 0 50px darkkhaki;
}

ul li:nth-child(7) {
    animation-delay: -0.2s;
    background-color: darkslateblue;
    box-shadow: 0 0 50px darkslateblue;
}

ul li:nth-child(8) {
    animation-delay: 0s;
    background-color: darkslategrey;
    box-shadow: 0 0 50px darkslategrey;
}

.showCase {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 50px;
}

.showCase video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.vText {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 37%;
    position: relative;
    background-color: black;
    color: white;
    font-size: 100px;
    mix-blend-mode: multiply;
}